.contact-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-text1 {
  display: inline-block;
  font-style: normal;
  font-family: "Space Grotesk";
  font-weight: 700;
}
.contact-text2 {
  display: inline-block;
  font-family: "Space Grotesk";
}
.contact-text3 {
  display: inline-block;
  font-family: "Space Grotesk";
}
.contact-text4 {
  display: inline-block;
}
@media(max-width: 479px) {
  .contact-text1 {
    color: #ffffff;
  }
  .contact-text2 {
    color: #ffffff;
  }
  .contact-text3 {
    color: #ffffff;
    font-family: Space Grotesk;
  }
}
